* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: slategrey;
  min-height: 100vh;
  // background-image: url(../public/electric-scooter.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

.content-front {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px 0;
}

.col-left {
  // display: flex;
  // justify-content: center;
  // width: 100%;
  // gap: 10px;
  // margin-left: 20px;
  // margin-right: 20px;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-right {
  // display: flex;
  // justify-content: center;
  // width: 100%;
  // margin-top: 10px;
  // display: flex;
  flex: 0 0 55%;
  max-width: 55%;
}

.form-group {
  display: flex;
  justify-content:flex-start;
  padding: 0.6rem;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
}

.card {
  // position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 0;
  word-wrap: break-word;
  background-color: #282c34;
  background-clip: border-box;
  border-radius: 1rem;
  // border: 1px solid black;
  opacity: 0.9;
  // border: 1px solid #282c34;
  
  
}

.card-header {
  padding: 0rem 1.25rem;
  margin-bottom: 0;
  background-color: #FF4742;
  color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-body {
  padding: 1rem;
  color: #fff;
}

.list-group {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 5px;
  // text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}

.input-1 {
  width: 100%;
  padding: 5px;
  border: 1px solid #777;
  border-radius: 0.25rem;
  // margin: 0px 5px 10px 5px;
  font-size: 16px;
}

.checkbox {
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 0.05rem;
}

small {
  display: inline-block;
  width: 100%;
  margin: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff
}

.content span {
  margin: 10px;
}

.list-group-item:first-child {
  border-top: 1px solid rgb(78, 76, 76)
}

.list-group-item {
  border-bottom: 1px solid rgb(78, 76, 76);
  
  .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      .content {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          font-size: 14px;
          // width: 100%;
      };
      .buttons {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-wrap: wrap;
      }
      b {
          margin-right: 15px;
      }
  }
}

.list-group-item {
  border-bottom: 1px solid rgb(78, 76, 76);
  
  .item-front {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      .content {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          font-size: 14px;
      };
      .buttons {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-wrap: wrap;
      }
      b {
          margin-right: 15px;
      }
  }
}

.modal {
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  background-color: rgba(5, 26, 40, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    // width: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    // border: 1px solid black;
    border-radius: 1rem;
    background-color: #282c34;

    .modal-content {
      width: 100%;
      display: flex;
      flex-direction: column;

      .modal-header {
        position: relative;
        background-color: #FF4742;
        border: 1px solid rgba(0,0,0,.125);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
          
        .close {
          float: right;
          position: absolute;
          top: 0;
          right: 0;
          background: none;
          border: none;
          cursor: pointer;
          font-size: 2.5rem;
          color: #fff;
          padding: 5px;

          
        }
      }  
    }
  }
}

.modal-header h3, p {
  margin-left: 20px;
  color: #fff;
}

.modal-footer {
  margin: 10px;
}

.aps {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.kv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 7px;
  border-radius: 2px;
}

button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 10px;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

button:active {
  opacity: .5;
}

p {
  color: #fff;
  margin: 5px 5px 5px 5px;
}

h5 {
  margin: 0 10px 0 0;
  font-size: 14px;
}

.select-opt {
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  border-radius: 0.25rem;
  color: #282c34;
  // width: 100%;
}

input {
  color: #282c34;
}

.show-message {
  display: flex;
  position: fixed;
  top: 100px;
  right: 35px;
  width: 100%;
  justify-content: flex-end;
}

.alert {
  background: aquamarine;
  border: 1px solid aquamarine;
  border-radius: 6px;
  padding: 1rem;
  font-weight: bold;
  color: #282c34;
  // text-transform: uppercase;
  opacity: 0.9;
}

.element {
  border: 1px solid rgb(78, 76, 76);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: aquamarine;
  color: #282c34;
  font-weight: 700;
}

.nav-container {
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #282c34;
  // box-shadow: 1px 2px 2px #282c34;
}

.nav {
  display: flex;
  justify-content: flex-start;
  background-color: #282c34;  
}

.nav-link:first-child {
  margin-left: 180px;
}

.nav-link {
  margin-left: 50px;
  text-decoration: none;
  color: #fff;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.textarea-input {
  width: 100%;
  border-radius: 5px;
  height: 80px;
  margin: 5px 10px 10px 10px;
  padding: 10px;
  resize: none;
}

.textarea-label {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  // text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  width: 100%;
}

.comment-list {
  width: 100%;
  margin: 5px 0 15px 0;
}

.comment {
  margin: 10px 0px 10px 10px;
  font-style: italic;
  width: 100%;
  color: #fff;
}

ul {
  list-style-type: decimal;
}